@import url('https://fonts.googleapis.com/css?family=Poppins');


$font-stack: 'Poppins', sans-serif;
$primary-color: #86c232;
$secondary-color: #61892f;
$background-color: #222629;
$muted-color: #F5F6F7;
$light-color: white;
$text-color: black;


//Scroll Styles
::-webkit-scrollbar {
  width: 10px;
  height: 10px;

  &-track {
    background: $light-color; 
  }

  &-thumb {
    background: $secondary-color;

    &:hover {
      background: $primary-color;
    }
  }
}

#htmlBody {
  height: 100%;
  margin: 0;
  font-family: $font-stack;
  background-color: $background-color;
  color: $text-color;
}

%section-container {
  background-color: $muted-color;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.signin {
  width: 500px;
  margin: 100px auto;
  background-color: $primary-color;
  padding: 30px;
  color: $background-color;
}

//Keeps footer at bottom of page
.container {
  min-height: calc(100vh - 350px);
}

//Top Navbar
.app nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  background-color: $primary-color;
  margin-bottom: 30px;
  border-bottom: 1px solid navy;

  &-logo {
    font-size: 12px;
    margin: 0px;
    color: $text-color;
  }

  &-title {
    text-align: left;
  }

  &-list {
    margin: 0;

    li {
      font-size: 25px;
      margin: 0 30px 0 0;
      list-style: none;
      display: inline-block;
      
      & * {
        color: $text-color; 

        &:hover {
          color: $muted-color;
          text-decoration: none;
          background-color: $secondary-color;
          padding: 10px;
          margin: 0 -10px;
          border-radius: 5px;
        }       
      }
    }
  }
}

//Home Page
.home {
  &-feed {
    @extend %section-container;
  }
  &-activity {
    top: -240px;
    bottom: 300px;
    
    &-list {
      background-color: $muted-color;
      margin-bottom: 20px;
    }

    &-scrolling {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;  
    }
  }

  &-trends {
    margin-bottom: 30px;
  }
}

//Common Components
.show {
  &-list {
    display: inline-block;
        
    &-item {
      display: inline-block;
      width: 120px;
      vertical-align: top;
      height: 210px;
      margin: 20px 10px;

      img {
        box-shadow: 2px 2px 5px black;
      }
    }
  }

  &-component {
    text-align: center;
    font-size: 16px;
    position: relative;
  
    &-poster {
      width: 80%;
      min-width: 70px;
      cursor: pointer;
    }

    &-title {
      white-space: normal;
      margin-top: 8px;
    }

    &-close {
      position: absolute;
      top: -10px;
      right: 1px;
      color: lightgray;
      border-radius: 50px;
      height: 22px;
      width: 22px;
      cursor: pointer;
    }

    &-close:hover {
      background-color: gray;
    }
  }

  &-search {
    margin: 0 0 15px 0;
  }
}


//Show Details Modal
.modal {
  white-space: normal;
  text-align: center;
  
  .modal-content {
    background-color: $muted-color;
    width: 80vw;
    
    .modal-body {
      padding: 0;
      overflow: auto;

      .modal-image {
        width: 100%;
      }

      %modal-background {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 5px;
      }

      .modal-description {
        @extend %modal-background;
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 10px;
        padding: 10px;
        text-shadow: 1px 1px 1px $background-color;
        letter-spacing: .1em;
      }

      .modal-details {
        color: $primary-color;
      }  
    }

    .modal-footer {
      button.dropdown-item {
        cursor: pointer;
      }
    }
  }
}

//Shows Page
.shows {

  &-genre {
    @extend %section-container;
    margin-top: 40px;

    &-list {
      cursor: pointer;
    }
  }

  &-scroll {
    text-align: center;
    margin: 10px 0 -40px 0;

    &-number {
      margin: 0 20px;
    }

    img {
      cursor: pointer;
      display: inline-block;
      width: 30px;
    }
  }
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: $primary-color;
  color: $text-color;
  margin-top: 120px;
  border-top: 1px solid black;
  padding: 5px;
}