@import url('https://fonts.googleapis.com/css?family=Poppins');


$font-stack: 'Poppins', sans-serif;
$primary-color: #86c232;
$secondary-color: #61892f;
$background-color: #222629;
$muted-color: #474b4f;
$text-color: white;


#htmlBody {
  font-family: $font-stack;
  background-color: $background-color;
  color: $text-color;
}

%section-container {
  background-color: $muted-color;
  padding: 10px;
  border-radius: 3px;
}

.signin {
  width: 500px;
  margin: 100px auto;
  background-color: $primary-color;
  padding: 30px;
  color: $background-color;
}

//Top Navbar
.navbar {
  background-color: $primary-color;
  margin-bottom: 30px;

  &-logo {
    font-size: 12px;
    margin: 0px;
    color: $text-color;
  }

  &-title {
    text-align: left;
  }

  &-list {
    margin: 0;

    li {
      font-size: 18px;
      margin: 0 30px 0 0;
      list-style: none;
      display: inline-block;
      
      & * {
        color: $text-color; 

        &:hover {
          color: $muted-color;
        }       
      }
    }
  }
}

//Home Page
.home {
  &-feed {
    @extend %section-container;
  }
  &-activity {
    @extend %section-container;

    &-scrolling {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }
  }
  &-trends {
    @extend %section-container;
  }
}

//Common Components
.show {
  &-list {
    display: inline-block;
    
    &-item {
      $width: 20%;
      min-width: 80px;
      display: inline-block;
      width: 120px;
      vertical-align: top;
      height: 210px;
      margin: 10px 2%;

      img {
        box-shadow: 2px 2px 5px black;
      }
    }
  }

  &-component {
    text-align: center;
    font-size: 16px;
    position: relative;
    overflow-wrap: break-word !important;
  
    &-poster {
      width: 80%;
      min-width: 70px;
      cursor: pointer;
    }

    &-title {
      white-space: normal;
    }

    &-close {
      position: absolute;
      top: -10px;
      right: -8px;
      color: $background-color;
      background-color: lightgray;
      border-radius: 50px;
      height: 22px;
      width: 22px;
      cursor: pointer;
    }
  }

  &-search {
    margin: 15px 0;
  }
}


//Show Details Modal
.modal {
  .modal-content {
    background-color: $muted-color;
    width: 80vw;
    
    .modal-body {
      padding: 0;
      overflow: auto;

      .modal-image {
        width: 100%;
      }

      %modal-background {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 5px;
      }

      .modal-description {
        @extend %modal-background;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 10px;
        padding: 10px;
        text-shadow: 1px 1px 1px $background-color;
        letter-spacing: .1em;
      }

      .modal-details {
        color: $primary-color;
      }  
    }

    .modal-footer {
      button.dropdown-item {
        cursor: pointer;
      }
    }
  }
}

//Shows Page
.shows {
  #genre-title {
    margin: 0 0 20px 20px;
  }

  &-genre {
    @extend %section-container;
    margin-top: 40px;

    &-list {
      cursor: pointer;
    }
  }

  &-scroll {
    text-align: center;
    margin-bottom: -50px;

    img {
      cursor: pointer;
    }
  }
}